.sidebar-container {
  display: flex;
}

.sidebar {
  height: 100vh;
  position: fixed;
  width: 250px;
  background-color: #000000;
  color: white;
  transition: width 0.5s;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar .menu-icon {
  padding: 10px;
  cursor: pointer;
  font-size: 1.5em;
}

.menu-item {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.menu-item .icon {
  margin-right: 10px;
}

/* Override the generated hover effect for menu items of react */
.ps-menu-button {
  background-color: inherit;
}

.ps-menu-button:hover {
  background-color: inherit !important;
}

.menu-item:hover {
  background-color: inherit;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li:hover {
  background-color: #ffffff;
  color: black;
}

.sidebar nav ul li {
  /* padding: 15px; */
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
}
